.container_secao_contato {
    width: 100%;
    padding: 100px 20px;
    background-color: #05031b;
    color: #fff;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container_paragrafo {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.8em;
}

.container_paragrafo h3 {
    font-size: 32px;
}

.container_contatos_redes {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.container_contatos_redes h3 {
    font-size: 24px;
}

.container_informacoes {
    max-width: 350px;
    padding: 20px;
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.texto_icon {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icons {
    height: 25px;
    width: auto;
}
